<div class="ui grid">
  <div class="twelve wide column">
      <div class="ui grid container">
          <div class="one column row">
              <div class="column">
                  <app-game-header></app-game-header>
              </div>
          </div>
          <div class="one column row">
              <div class="column">
                  <app-lottery></app-lottery>
              </div>
          </div>
          <app-game class="three column row"></app-game>
          <div class="one column row">
              <div class="column">
                  <app-history></app-history>
              </div>
          </div>
      </div>
      
  </div>
  <div id="sidebar" class="four wide column">
      <app-bets></app-bets>
      <app-footer></app-footer>
  </div>
</div>
